#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:5%;
}

#chatlogs-content{
    border: 0.2rem black solid;
    border-radius: 1.5rem;
    height: 32rem;
    width: 48rem;
    overflow-y: scroll;
    padding: 0.8rem 0;
}

div.bot_response{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    margin-left: 5%;
}

div.bot_response p{
    background-color: green;
    color: white;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    word-wrap: break-word;
}

div.user_question{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
    margin-right: 5%;
}

div.user_question p{
    background-color: blue;
    color: white;
    border-radius: 1rem;
    word-wrap: break-word;
    padding: 0.5rem 1rem;
}

#container h1{
    margin-bottom: 2.5%;
}

#user-input{
    width: 32rem;
    margin-top:1.2rem;
    margin-left: 15%;
    text-align: center;
    font-size: 1.3rem;
    border-radius: 1.5rem;
    outline: none;
}